<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>ECart</title>
</head>
<h1> SHOP ITEMS</h1>

<body>
  {% if data %}
  <div>
    <h2 style="color:blue;font-family:verdana;">CUSTOMER DETAILS</h2>
    {% for  x in data  %}
    ID : {{ x.id }}<br>
    closed : {{ x.closed }} <br>
    outage_type : {{  x.outage_type}}<br>
    root_cause:{{ x.root_cause}}<br>
    case_owner :{{x.case_owner}}<br>
    product_id : {{x.product_id}}<br>
    <hr>
    {% endfor %}
  </div>
{%endif%}
</body>
</html>